src/META-INF/wsdl/localhost_8080/getmed/getmed_test.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://stt/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://stt/" name="getmed">
<types>
<xsd:schema>
<xsd:import namespace="http://stt/" schemaLocation="http://localhost:8080/getmed/getmed_test?xsd=1"/>
</xsd:schema>
</types>
<message name="order">
<part name="parameters" element="tns:order"/>
</message>
<message name="orderResponse">
<part name="parameters" element="tns:orderResponse"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="current_details">
<part name="parameters" element="tns:current_details"/>
</message>
<message name="current_detailsResponse">
<part name="parameters" element="tns:current_detailsResponse"/>
</message>
<message name="customer_account">
<part name="parameters" element="tns:customer_account"/>
</message>
<message name="customer_accountResponse">
<part name="parameters" element="tns:customer_accountResponse"/>
</message>
<message name="EncryptPass">
<part name="parameters" element="tns:EncryptPass"/>
</message>
<message name="EncryptPassResponse">
<part name="parameters" element="tns:EncryptPassResponse"/>
</message>
<message name="change_password">
<part name="parameters" element="tns:change_password"/>
</message>
<message name="change_passwordResponse">
<part name="parameters" element="tns:change_passwordResponse"/>
</message>
<message name="order_status">
<part name="parameters" element="tns:order_status"/>
</message>
<message name="order_statusResponse">
<part name="parameters" element="tns:order_statusResponse"/>
</message>
<message name="change_details">
<part name="parameters" element="tns:change_details"/>
</message>
<message name="change_detailsResponse">
<part name="parameters" element="tns:change_detailsResponse"/>
</message>
<message name="loginAdmin">
<part name="parameters" element="tns:loginAdmin"/>
</message>
<message name="loginAdminResponse">
<part name="parameters" element="tns:loginAdminResponse"/>
</message>
<portType name="getmed_test">
<operation name="order">
<input wsam:Action="http://stt/getmed_test/orderRequest" message="tns:order"/>
<output wsam:Action="http://stt/getmed_test/orderResponse" message="tns:orderResponse"/>
</operation>
<operation name="login">
<input wsam:Action="http://stt/getmed_test/loginRequest" message="tns:login"/>
<output wsam:Action="http://stt/getmed_test/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="current_details">
<input wsam:Action="http://stt/getmed_test/current_detailsRequest" message="tns:current_details"/>
<output wsam:Action="http://stt/getmed_test/current_detailsResponse" message="tns:current_detailsResponse"/>
</operation>
<operation name="customer_account">
<input wsam:Action="http://stt/getmed_test/customer_accountRequest" message="tns:customer_account"/>
<output wsam:Action="http://stt/getmed_test/customer_accountResponse" message="tns:customer_accountResponse"/>
</operation>
<operation name="EncryptPass">
<input wsam:Action="http://stt/getmed_test/EncryptPassRequest" message="tns:EncryptPass"/>
<output wsam:Action="http://stt/getmed_test/EncryptPassResponse" message="tns:EncryptPassResponse"/>
</operation>
<operation name="change_password">
<input wsam:Action="http://stt/getmed_test/change_passwordRequest" message="tns:change_password"/>
<output wsam:Action="http://stt/getmed_test/change_passwordResponse" message="tns:change_passwordResponse"/>
</operation>
<operation name="order_status">
<input wsam:Action="http://stt/getmed_test/order_statusRequest" message="tns:order_status"/>
<output wsam:Action="http://stt/getmed_test/order_statusResponse" message="tns:order_statusResponse"/>
</operation>
<operation name="change_details">
<input wsam:Action="http://stt/getmed_test/change_detailsRequest" message="tns:change_details"/>
<output wsam:Action="http://stt/getmed_test/change_detailsResponse" message="tns:change_detailsResponse"/>
</operation>
<operation name="loginAdmin">
<input wsam:Action="http://stt/getmed_test/loginAdminRequest" message="tns:loginAdmin"/>
<output wsam:Action="http://stt/getmed_test/loginAdminResponse" message="tns:loginAdminResponse"/>
</operation>
</portType>
<binding name="getmed_testPortBinding" type="tns:getmed_test">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="order">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="current_details">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="customer_account">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EncryptPass">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="change_password">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="order_status">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="change_details">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="loginAdmin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="getmed">
<port name="getmed_testPort" binding="tns:getmed_testPortBinding">
<soap:address location="http://localhost:8080/getmed/getmed_test"/>
</port>
</service>
</definitions>