src/META-INF/wsdl/localhost_8080/STT_WebService/STT_WebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://sttwebservice.me.com/" xmlns:ns1="http://jaxb.dev.java.net/array" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://sttwebservice.me.com/">

<xs:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://localhost:8080/STT_WebService/STT_WebService?xsd=2"/>

<xs:element name="getNewOrders" type="tns:getNewOrders"/>

<xs:element name="getNewOrdersResponse" type="tns:getNewOrdersResponse"/>

<xs:complexType name="getNewOrders">
<xs:sequence>
<xs:element name="adminBranch" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getNewOrdersResponse">
<xs:sequence>
<xs:element name="return" type="ns1:stringArray" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>